@media all and (min-width: 768px) {
  .f-md-18 {
    font-size: 18px;
    line-height: 21px;
  }
  .f-md-24 {
    font-size: 24px;
    line-height: 28px;
  }
  .f-md-36 {
    font-size: 36px;
    line-height: 42px;
  }
  .f-md-48 {
    font-size: 48px;
    line-height: 56px;
  }
  .f-md-64 {
    font-size: 64px;
    line-height: 75px;
  }
  /* Buttom */
  .box-btn {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  /* Landing section style*/
  .arrow-drop {
    height: 40px;
    width: 40px;
  }
  /* My acheivement style */
  .cat-circle {
    height: 136px;
    width: 136px;
  }
  .cat-circle img {
    height: 56px;
  }
  /* Song section */
  .song-img {
    height: 402px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .song-img-1 {
    flex-basis: 350px;
  }
  .song-img-2 {
    flex-basis: 450px;
  }
  .song-img-3 {
    flex-basis: 350px;
  }
  .song-img-4 {
    flex-basis: 584px;
  }
  .song-img-5 {
    flex-basis: 588px;
  }

  /* Latest Track */
  .control-icon {
    height: 40px;
    width: 40px;
  }
}
